/* .history-order .section {
    position: relative;
    padding: 80px 0;
}

.history-order .table-nowrap td,
.table-nowrap th {
    white-space: nowrap;
} */

.history-order thead {
    text-align: center;
}

.history-order .avatar-title img {
    width: 50%;
}

.custom-modal-history {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 500px;
    height: 400px;
}

.OrderHistory-tbody .badge {
    /* background-color: antiquewhite; */
    background-color: #ffcbcb;
    width: 100%;
}

.view-products-link {
    background-color: #ffd3b6;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.view-products-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.product-info {
    font-size: 0.85rem;
    color: #6c757d;
    margin-bottom: 2px;
}

.info-label {
    font-weight: 600;
    margin-right: 5px;
}

.info-value {
    color: #495057;
}

.Order-PreOrderHistory h6 {
    font-size: 20px;
}