
.custom-modal-brand {
    position: relative;
    width: 80%;
    height: 90%;
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .custom-modal-deletebrand {
    position: relative;
    width: 60%;
    height: 30%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .custom-modal-deletebrand p{
    font-size: 20px;
    font-weight: bold;
  }
  
  .custom-overlay-brand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-modal-brand h2 {
    margin-top: 0;
    font-size: 30px;
    color: #333;
    justify-content: center;
    display: flex;
  }
  
  .custom-modal-brand label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .custom-modal-brand input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .modal-actions-brand {
  
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  
  }
  
  .btn-confirm-brand,
  .btn-cancel-brand {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-confirm-brand {
    background-color: #28a745;
    color: white;
  }
  
  .btn-confirm-brand:hover {
    background-color: #218838;
  }
  
  .btn-cancel-brand {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-cancel-brand:hover {
    background-color: #c82333;
  }

  .addBrandButton{
    display: flex;
    justify-content: flex-end;
  }

  .addBrandButton button{
    border: 1px solid;
    color: snow;
    background-color: palevioletred;
    border-radius: 5px;
    margin-bottom: 10px;
  }


  .addBrandButton button:hover {
    background-color: snow;
    color: palevioletred;
  }

  td{
    background-color: snow;
  }