.app {
  display: flex;
  font-family: Arial, sans-serif;
}
.content {
  flex-grow: 1;
  padding: 20px;
}

h1{
  margin-left: 20px;
}

.content-header{
  display: flex;
  justify-content: space-between;
}
.staff-name {
  background-color: palevioletred;
  color: snow;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  float: right;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  margin-top: 20px;
  background-color: snow;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-actions {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.table-actions label {
  margin-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: palevioletred;
}

.search-input {
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid palevioletred;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  width: 50%;
}

.search-input:focus {
  border-color: #d9534f;
}

.issues-table {
 width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensure the table layout is stable */
}

.issues-table th, .issues-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 14px;
}


img {
  margin-left: 3px;
}

.issues-table th {
  background-color: palevioletred;
  color: white;
}

.issues-table tbody tr:hover {
  background-color: #f9f9f9;
}

.searchProduct {
  background-color: palevioletred;
  color: snow;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.searchProduct:hover {
  background-color: white;
  color: palevioletred;
  border: 1px solid palevioletred;
}

.custom-modal-product {
  position: relative;
  width: 500px;
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.custom-overlay-product {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-product h2 {
  margin-top: 0;
  font-size: 30px;
  color: #333;
  justify-content: center;
  display: flex;
}

.custom-modal-product label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.custom-modal-product input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.modal-actions-product {

  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

}

.btn-confirm-product,
.btn-cancel-product {
      padding: 10px 20px;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
}

.btn-confirm-product {
      background-color: #28a745;
      color: white;
}

.btn-confirm-product:hover {
  background-color: #218838;
}

.btn-cancel-product {
  background-color: #dc3545;
  color: white;
}

.btn-cancel-product:hover {
  background-color: #c82333;
}

.updateDiv .delete-button {
  width: 60px;
}

