.editProfile .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: snow;
    background-image: none;
}


.editProfile .inner {
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
}

.editProfile .inner .image-holder {
    width: 350px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.editProfile .inner .image-holder img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 80px
}

.editProfile .image-holder-content {
    margin-top: 50px;
}

h2 {
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 250px;
}

.header-container button {
    background-color: palevioletred;
    color: snow;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid palevioletred;
    position: relative;
    /* Set the position to relative */
    top: -10px;
    /* Move the button up by 10px */
}

.header-container button a {
    color: snow;
    text-decoration: none;
}

.header-container button a:hover {
    color: palevioletred;
}

.header-container button:hover {
    background-color: snow;
}

.header-container button:hover a {
    color: palevioletred;
}


.editProfile .inner form {
    width: 500px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 50px;
}

.editProfile .inner h3 {
    margin-bottom: 10px;
    text-align: center;
}

.editProfile .form-group input {
    width: 50%;
}

.editProfile .form-control {
    border: 1px solid hsl(328, 93%, 72%);
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
}

.editProfile .inner input,
.inner textarea,
.inner select,
.inner button {
    font-family: 'poppins-regular', sans-serif;
    color: #333;
    font-size: 13px;
}

.editProfile .form-wrapper {
    position: relative;
}

.editProfile .form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0;
}

.editProfile .inner button {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: hsl(328, 93%, 72%);
    font-size: 15px;
    color: snow;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 1px solid gray;
    border-radius: 10px;
}

.editProfile .inner button:hover {
    background-color: snow;
    color: hsl(328, 93%, 72%);
}

.editProfile .inner button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.editProfile .switchlogin {
    display: flex;
    font-size: 15px;
    text-align: center;
    padding-left: 17%;
    height: 20px;
}

.editProfile .switchlogin p {
    width: 50%;
}

.editProfile .switchlogin a {
    text-align: left;
    color: #5072A7;
}

.editProfile .switchlogin a:hover {
    color: #4B5320;
}

.editProfile .zmdi-account,
.zmdi-email,
.zmdi-phone,
.zmdi-home,
.zmdi-caret-down,
.zmdi-lock {
    padding-right: 5px;
}

.editProfile .error-message {
    color: red;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
    padding-right: 25px;
}

.editProfile .success-message {
    color: green;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
    padding-right: 25px;
}

.editProfile .importButton button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.changePassword {
    display: flex;
    justify-content: center;
}

.editProfile input[type="file"] {
    border-radius: 3px;
    padding: 5px 8px;
    text-shadow: 1px 1px #fff;
    margin-right: 50px;
    width: 65%;
    margin-left: 105px;
    margin-top: 15px;
}

#file-upload {
    color: transparent;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

/* .custom-modal-blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
} */

.ReactModal__Content--after-open {
    opacity: 1;
}