.user-info-form-wrapper {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info-form-header {
    background-color: #638D99;
    border-radius: 10px 10px 0px 0px;
    border: lightgray solid 1px;
}

.user-info-form-title {
    color: #D9F6FF;
}

.user-info-form-subtitle {
    color: #997654;
    font-weight: bold;
}

.user-info-form-icon {
    color: #997654;
}

.user-info-form-button i {
    color: white;
}

.user-info-form-divider {
    border-color: #E6C9AC;
}

.user-info-form-button {
    background-color: #638D99;
}

.user-info-form-select {
    display: inline;
}

.form-group {
    gap: 10px;
}

.form-group label {
    width: 40%;
}

.form-group input {
    width: 60%;
}

.rewardpoint input,
.rewardpoint select {
    height: 35px;
}

.promptorder {
    font-size: 12px;
    font-style: italic;
}

.info-error-message {
    color: #dc3545;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-left: 150px;
    margin-bottom: 8px;
    font-style: italic;
    margin-top: -10px;

}