.blog-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  /* height: 300px; */
  aspect-ratio: 1 / 1;
}


.author {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 25px;
}

.author-info h4 {
  margin: 0;
  font-size: 1.4rem;
}

.author-info p {
  margin: 0;
  font-size: 1.2rem;
  color: #666;
}

.author-info p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.author-description {
  margin-top: 20px;
}

/* .blog-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  height: 300px;
}


.author {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 25px;
}

.author-info h4 {
  margin: 0;
  font-size: 1.4rem;
}

.author-info p {
  margin: 0;
  font-size: 1.2rem;
  color: #666;
}

.author-info p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.author-description {
  margin-top: 20px;
} */