.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-content h3 {
  margin: 0 20px 0 0;
  padding-left: 30px;
}

.site-name a{
  color: black;
  text-decoration: none;
}


.navigate-content {
  display: flex;
  gap: 30px;
  padding-right: 30px;
  
}

.navigate-content a {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.navigate-content button{
  background-color: hsl(248, 92%, 65%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
}

.navigate-content button:hover {
  color: black;
}

.navigate-content a:hover{
  color: hsl(248, 92%, 65%);
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-sitename {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.footer-topics {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-right: 50px;
  width: 50%;
}

.topic-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topic-list li {
  margin-bottom: 10px;
}

.topic-list h4 {
  margin-bottom: 30px;
}

.topic-list a:hover{
  color: hsl(248, 92%, 65%);
}
