.voucher .applybtn {
    margin-top: 20px;
    margin-right: 15px;
}

.voucher .row {
    margin-bottom: 5px;
}

.voucher .card-body {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}