
.blog-list-container {
  padding: 20px;
}

.blog-list-content{
  display: flex;
  justify-content: space-between;
}

.blog-list-content h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.blog-list-content a{
  margin-bottom: 20px;
  padding-top: 30px;
}

.blog-list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-list {
  display: flex;
  overflow-x: auto;
  justify-content: space-around;
  gap: 10%;
  background-color: hsl(0, 0%, 97%);
  padding: 20px;
  border: 1px solid hsl(0, 0%, 91%);
  border-radius: 5px;
  padding-bottom: 20px;
  max-width: 80%;
}

.scroll-button {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 100px;
}

.scroll-button.right {
  right: 100px;
}
