/* //Footer.jsx */
footer {
  /* background-color: hsl(0, 0%, 97%); */
  background-color: #f8a9e5;
  padding: 20px;
  padding-bottom: 20px;
}

/* .footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20%;
} */


.footer-sitename {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-sitename h3 {
  color: snow;
  font-weight: 600;
}

.footer-sitename img {
  border-radius: 50%;
  width: 50%;
  height: 60%;

}

/* .footer-topics {
  display: flex;
  gap: 130%;
  justify-content: space-between;
  margin-right: 50px;
  width: auto;
} */

/* .topic-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* .topic-list li {
  margin-bottom: 10px;
} */

.topic-list h4 {
  color: #407088;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.topic-list h4::after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #b19361;
}

/* .topic-list h4 ::after {
  
} */

.topic-list a:hover {
  color: hsl(248, 92%, 65%);
}